.header .container{
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  margin-right: auto;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 24px 0;
}

.nav {
  font-weight: 500;
  color: #2e2f42;
}

.nav a:hover,
.nav a:focus {
  color: #404bbf;
}

.header address{
  margin-left: auto;
}

.info-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.info a:hover,
.info a:focus {
  color: #404bbf;
}
