.team-text {
  text-align: center;
}

.team-subt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.section-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-cards {
  background: #fff;
  width: calc((100% - 72px) / 4);
  padding: 0 0 32px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.team-cards img {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
}